@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="~/img/logo3.jpg" 
             class="img-responsive center-block"
             style="max-height:300px;max-width:450px;padding-bottom:50px" />
      </div>

      <div class="container-fluid">
          <p class="text-md-center display-5"> 
              Here in GameDrew Store, since our opening we have become masters of our craft, our commitment
              to quality products, exceptional services and incomparable customer care keep our community coming back and
              back again
          </p>
      </div>

      <br />
      <br />
      
          <div class="card">
                    <h3 class="text-center card-header bg-dark bg-gradient text-light">Developed by:</h3>
                    <div class="text-center">
                        <h4>Andrés Jiménez Urbano</h4>
                    </div>
          </div>
      


           <div class="container-fluid ">
                    <div class="row">
                        <a class="link-dark col-md-6 text-center" href="https://twitter.com/andryw_7">Twitter</a>
                        <a class="link-dark col-md-6 text-center" href="https://www.instagram.com/dreewwann/">Instagram</a>
                    </div>
            </div>
    

          
    </div>
  </div>
</div>